{{ attach_library ('custom_theme/todolist') }}
<div>
<h1> TO-DO-LIST </h1>

<div class='form'>
<input type=text id="list" placeholder='Mention Your Work'>

<button id="submit">SUBMIT</button>
</div>

<div>
<ul id='list-item'>

</ul>
</div>
</div>

